- if current_user.present?
  #ai-code-header
    %ul#ai-code-list
      %li.add-form-wrapper
        = link_to_void '+', :id => 'add-code-show'
        = link_to_void '–', :id => 'add-code-hide', :style => 'display:none'

        - semantic_form_for AiImplementation.new, :url => user_ai_implementations_url(current_user), :html => {:style => 'display:none', :class => 'validate'} do |f|

          = f.inputs :name
          - f.buttons do
            = f.commit_button 'Save', :button_html => {:class => 'commit'}
      - current_user.ai_implementations.each_with_index do |ai, index|
        %li.load-ai-code{:'data-service-url' => user_ai_implementation_path(current_user, ai), :class => index == 0 ? 'selected' : nil}= ai.name

  #ai-code-content
    = text_area_tag :user_ai, current_user.ai_implementations.first.code

  #ai-code-footer
    = link_to_void 'Save Code', :id => 'save-code'
