- if current_user.present?
  #ai-code-header
    %ul#ai-code-list
      %li.add-form-wrapper
        = link_to_void '+', :id => 'add-code-show'
        = link_to_void '–', :id => 'add-code-hide', :style => 'display:none'

        - semantic_form_for AiImplementation.new, :url => user_ai_implementations_url(current_user), :html => {:style => 'display:none', :class => 'validate'} do |f|

          = f.inputs :name
          - f.buttons do
            = f.commit_button 'Save', :button_html => {:class => 'commit'}
      = render :partial => 'ai_implementations/tab_item', :collection => current_user.ai_implementations

  #ai-code-content
    = text_area_tag :user_ai, @recent_ai.code, :autocomplete => 'off'

  #ai-code-footer
    #save-wrapper
      #save-link
        = link_to_void 'Save Code', :id => 'save-code'
        %span (ctrl+s)
      #save-loader{:style => 'display:none'}= image_tag 'save-loader.gif'
    #help-wrapper
      #help-link
        = link_to_void 'Help', :id => 'show-help'