= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min', 'jrails', 'jquery.random', 'jquery.compare', 'jquery.form'
= javascript_include_tag 'v2.standalone.full.min.js', 'validatious.config.js'
= javascript_for_validatious

= javascript_include_tag 'application', 'account', 'game', 'ai-driver'
= javascript_include_tag 'ai-smart', 'ai-random'
= stylesheet_link_tag 'reset', 'application'