- semantic_form_for @user, :url => users_path, :html => {:style => 'display:none'} do |f|
  %h3 Signup Form for new users
  = f.semantic_errors
  - f.inputs do
    = f.input :login, :required => true
    = f.input :email
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
  - f.buttons do
    = f.commit_button "Sign Up"
    %li= link_to_void 'cancel', :class => 'cancel-login-form'
  .form-loader{:style => 'display:none'}
    Loading