- if @current_user.present?
  #ai-code-wrapper
    = render :partial => 'shared/ai_code'
  #content
    #header
      = render :partial => 'shared/account_bar'
    #tic-tac-toe
      = render :partial => 'dashboards/board'
      #user-console-wrapper
        = link_to_void 'Clear', :class => 'clear-console'
        #user-console
- else
  #content
    = render :partial => 'shared/account_bar'